<header>
  <nav>
    <img src="assets/logos/PNG/Logo (1).png" />
    <ul id="nav-menu">
      <li>
        <a href="#home" class="active">Home</a>
      </li>
      <li class="li-receitas">
        <a href="#" class="dropdown-link">Receitas <ion-icon name="chevron-down-outline"></ion-icon></a>
        <ul class="dropdown-menu">
          <li><a href="#">Doces</a></li>
          <li>
            <a class="dropdown-link">Salgado</a>
            <ul class="dropdown-menu">
              <li><a href="#">Carnes</a></li>
              <li><a href="#">Massas</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#sobre">Sobre nós</a>
      </li>
      <li>
        <a href="#contato">Contato</a>
      </li>
    </ul>
    <div class="search">
      <button type="button"><ion-icon name="search-outline"></ion-icon></button>
      <input
        type="search"
        name="search"
        id="pesquisa"
        placeholder="Pesquise aqui..."
      />
    </div>
  </nav>
</header>
